@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --font-family: 'Outfit', sans-serif;
    --p-font-size: 1.125rem;
}

html, body {
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

body p{
    font-size: var(--p-font-size);
}

.grid-container {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flexbox-container {
    display: flex;
}

.flexbox-container-vertical {
    display: flex;
}

.main-box {
    background-color: var(--card-bg);
    border-radius: 15px;
    margin: 7.5%;
}

.main-box.grid-container {
    padding: 1rem;
    gap: 0.25rem;
}

.main-box .item{
    border: 2px solid white;
    color: white;
}

.main-box .item:first-child{
    width: 100%;
    border-radius: 10px;
}

.main-box .item:first-child img{
    width: 100%;
    border-radius: 10px;
}

.main-box .item:nth-child(2) h2{
    font-size: 1.25em;
    font-weight: 600;
}

.main-box .item:nth-child(3) p{
    font-size: 1em;
    font-weight: 400;
    color: var(--soft-blue);
}

.main-box .item:nth-child(4) p{
    font-size: 1em;
}
.main-box .item:nth-child(4).flexbox-container {
    justify-content: space-between;
}

.main-box .item:nth-child(4) div:first-child {
    color: var(--cyan);
    font-weight: 600;
}

.main-box .item:nth-child(4) div:nth-child(2) {
    font-weight: 400;
    color: var(--soft-blue);
}

#pickme {
    width: 2.5rem;
    border: 1px solid white;
    border-radius: 100%;
}

.main-box .item:nth-child(5) p {
    border: 1px solid white !important;
    color: var(--soft-blue);
}


